<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12">
        <ion-list>
          <app-card *ngFor="let pokemon of pokemons; let index" [pokemon]="pokemon" (favoritoToggled)="toggleFavorito($event)"></app-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
